# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
*.config
resources/sample_payloads/*
!resources/sample_payloads/.gitkeep
